@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat&family=Playfair+Display&family=Roboto:wght@100;300;400;500;700;900&family=Silkscreen&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body {
  background-color: black;
  color: white;
  line-height: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    overflow-x: hidden;
}

.catalogue > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
  /* padding: 10%; */
  margin: 5% auto;
}
.catalogue > div > div {
  width: 80vw;
  height: 450px;
  /* border: 1px solid #FB4D06; */
  text-align: center;
  margin: 0 auto;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: box-shadow 0.3s linear;
}

.catalogue > div > div:hover {
  box-shadow: 0px 1px 20px #080a68;
}

.bmw {
  background-image: linear-gradient(rgba(0, 0, 0, 0.113), rgba(0, 0, 0, 0.863)),
    url(./car1.webp);
}
.Koegnigsegg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.113), rgba(0, 0, 0, 0.863)),
    url(./car2.webp);
}
.Tesla {
  background-image: linear-gradient(rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.863)),
    url(./car3.webp);
}
#jour1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.863)),
    url(./jour1.webp);
}
#jour2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.863)),
    url(./jour2.webp);
}
span {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
}
a {
  text-align: center;
  display: block;
  margin: 15px auto;
  padding: 10px 20px;
  color: white;
  background-color: #4141f1;
  width: max-content;
  transition: background-color 0.25s linear;
}
a:hover {
  background-color: #da4910;
}
.main .topic {
  text-align: center;
  padding: 21px;
  font-size: 14.5px;
}
.journal .flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  text-align: center;
  padding: 0px 5%;
}
.journal .flex > div {
  height: 450px;
  position: relative;
  transition: box-shadow 0.3s linear;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80vw;
  max-width: 450px;
  margin: 10px auto;
  cursor: pointer;
}
.journal .flex > div:hover {
  box-shadow: 0px 1px 20px #682208;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.863)),
    url(./footer.jpg);
  height: 400px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 130%;
}
footer ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 90%;
  left: 50%;
  font-size: 14px;
  transform: translate(-50%, -90%);
  flex-wrap: wrap;
  text-align: center;
}
.search {
  border: none;
  background: none;
  width: 80px;
  cursor: pointer;
  outline: none;
  transition: width 0.4s ease-in-out, background-color 0.4s ease-in-out;
  padding: 10px;
  border-radius: 3px;
  font-size: 16px;
  color: white;
}
.search::placeholder {
  color: white;
  font-size: 14px;
  text-align-last: start;
}
.search:focus {
  cursor: text;
  background: rgba(197, 192, 192, 0.336);
  width: 90%;
}
.search:focus::placeholder {
  text-align-last: end;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.863)),
    url(./banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 55vh;
  position: relative;
  padding-bottom: 10%;
  padding-top: 10px;
}
header > div {
  position: absolute;
  transform: translate(-50%, -45%);
  text-align: center;
  top: 45%;
  left: 50%;
  font-size: 23px;
  font-family: "Playfair Display", serif;
  line-height: 40px;
}
header > div h2 {
  display: none;
}
header ul {
  display: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  font-family: "Playfair Display", serif;
  align-items: center;
}
.nav i {
  display: block;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.mobile-menu {
  width: 40vw;
  background-color: rgba(0, 0, 0, 0.808);
  height: 90vh;
  transition: right 0.4s ease-in-out;
  position: absolute;
  z-index: 3;
  top: 20px;
  right: -1000px;
  padding: 15px;
}
.mobile-menu i {
  position: absolute;
 right: -10%;
  margin-right: 20px;
  font-size: 22px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.808);
  width: 60px;
}
.mobile-menu ol {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  margin-top: 35px;
}
.mobile-menu ol li{
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
}
.mobile-menu ol li:last-child{
  padding: 0px;
  
}
.mobile-menu ol li:last-child:hover{
background:none ;
}
.mobile-menu ol li:hover{
  background-color: rgba(128, 128, 128, 0.438);
 
}

@media (min-width: 800px) {
  .main > .topic {
    padding: 10px 19%;
  }
  .catalogue > div {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  .catalogue > div > div {
    width: 28vw;
    min-width: 300px;
    padding: 30% 0 10% 0;
  }
  .journal .flex {
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
  }
  header ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
  }
  ul li {
    cursor: pointer;
    transition: color 0.25s linear;
    font-size: 14px;
  }
  ul li:hover {
    color: #4141f1;
  }
  header {
    height: 70vh;
  }

 
  header > div {
    font-size: 25px;
    font-family: "Playfair Display", serif;
    line-height: 40px;
  }
  .journal .topic {
    margin-bottom: 10px;
  }
  footer {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.123),
        rgba(0, 0, 0, 0.863)
      ),
      url(./footer.jpg);
    height: 80vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  header ul li:last-child {
    display: inline-flex;
    align-items: center;
    width: 70px;

  }
  .search:focus {
    cursor: text;
    background: rgba(197, 192, 192, 0.336);
    width: 200px;
  }
  header ul li:last-child:hover {
    color: white;
  }
  header > div h2 {
    display: block;
  }
  header ul {
    display: flex;
  }
  .nav {
    display: none;
  }
}
