@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat&family=Playfair+Display&family=Roboto:wght@100;300;400;500;700;900&family=Silkscreen&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body{
  background-color:black;
  color: white;
line-height: 25px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header ul{
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
ul li{
  cursor: pointer;
  transition: color .25s linear;
}
ul li:hover{
  color: #4141f1;
}
header{
  background-image:linear-gradient( rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.863)), url(./banner.png) ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 55vh;
  position: relative;
  padding-bottom: 10%;padding-top: 10px;
}
header > div{
position: absolute;
transform: translate(-50%,-50%);
text-align: center;
top: 50%;
left: 50%;
font-size: 20px;
font-family: 'Playfair Display', serif;
line-height: 40px;
}
.catalogue > div{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
  /* padding: 10%; */
  margin: 5% auto;
}
.catalogue > div > div{
  width: 80vw;
height: 450px;
  /* border: 1px solid #FB4D06; */
  text-align: center;
  margin: 0 auto;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: box-shadow .3s linear;
}

.catalogue > div > div:hover{
    box-shadow: 0px 1px 20px #080a68;
  }

.bmw{
  background-image:linear-gradient( rgba(0, 0, 0, 0.113), rgba(0, 0, 0, 0.863)), url(./car1.webp) ; ;
}
.Koegnigsegg{
  background-image:linear-gradient( rgba(0, 0, 0, 0.113), rgba(0, 0, 0, 0.863)), url(./car2.webp) ; ;
}
.Tesla{
  background-image:linear-gradient( rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.863)), url(./car3.webp) ; ;
}
#jour1{
  background-image:linear-gradient( rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.863)), url(./jour1.webp) ; ;
}
#jour2{
  background-image:linear-gradient( rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.863)), url(./jour2.webp) ; ;
}
 span{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
}
 a{
  text-align: center;
  display: block;
  margin: 15px auto;
  padding: 10px 20px;
  color: white;
  background-color: #4141f1;
  width: max-content;
  transition: background-color .25s linear;
}
a:hover{
background-color: #da4910;
}
.main .topic{
  text-align: center;
  padding: 21px;
  font-size: 14.5px;
}
.journal .flex{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  text-align: center;
  padding: 0px 5%;
}
.journal .flex > div{
  height: 450px;
  position: relative;
  transition: box-shadow .3s linear;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  width: 80vw;
  max-width: 450px;
  margin: 10px auto;
  cursor: pointer;
}
.journal .flex > div:hover{
  box-shadow: 0px 1px 20px #682208;
}
footer{
  background-image: linear-gradient( rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.863)), url(./footer.jpg);
  height: 400px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size:130%;
}
footer ul{
  display: flex;
  justify-content: center;
  gap:10px;
  position: absolute;
  top: 90%;
  left: 50%;
  font-size: 14px;
  transform: translate(-50%,-90%);
  flex-wrap: wrap;
  text-align: center;
}
#search{
border: none;
background: none;
width: 80px;
cursor: pointer;
outline: none;
transition: width .4s ease-in-out, background-color .4s ease-in-out;
padding: 10px;
border-radius:3px ;
font-size: 16px;
color: white;
}
#search::placeholder{
  color: white;
  font-size: 14px;
  text-align-last: start;
}
#search:focus{
cursor:text;
background: rgba(197, 192, 192, 0.336);
width: 22vw;
}
#search:focus::placeholder{
  text-align-last: end;
}
header ul li:last-child{
  display: inline-flex;
  align-items: center;
  width: 70px;
  /* background-color: red */
}
header ul li:last-child:hover{
color: white;

}


@media (min-width: 800px){
  .main > .topic  {
    padding:10px 19%;
  }
  .catalogue > div{
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  }
  .catalogue > div > div{
    width: 28vw;
    min-width: 300px;
    padding: 30% 0 10% 0;
  }
  .journal .flex{
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
  }
  header{
    height: 70vh;
  
  }
  ul li{
    font-size: 14px;
  }
  header > div{
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    line-height: 40px;
    }
    .journal .topic{
      margin-bottom: 10px;
    }
    footer{
      background-image: linear-gradient( rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.863)), url(./footer.jpg);
      height: 80vh;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
}